$font-family-regular: "Custom-Regular";
$font-family-bold: "Custom-Bold";
$font-family-moderate: "Custom-Medium";
$font-family-semi-bold: "Custom-SemiBold";


/*#region Font for Desktops*/

/*#region Font styles - Regular*/
@mixin fontTinySmall {
  font-family: $font-family-regular;
  font-size: 9px;
}

@mixin fontTiny {
  font-family: $font-family-regular;
  font-size: 10px;
}

@mixin fontNormal {
  font-family: $font-family-regular;
  font-size: 14px;
}

@mixin fontSmall {
  font-family: $font-family-regular;
  font-size: 12px;
}

@mixin fontMedium {
  font-family: $font-family-regular;
  font-size: 16px;
}

@mixin fontLarge {
  font-family: $font-family-regular;
  font-size: 18px;
}

@mixin fontHuge {
  font-family: $font-family-regular;
  font-size: 20px;
}

@mixin fontMammoth {
  font-family: $font-family-regular;
  font-size: 24px;
}

/*#endregion Font styles - Regular*/

/*#region Font styles - Bold*/

@mixin fontBoldTiny {
  font-family: $font-family-bold;
  font-size: 10px;
}

@mixin fontBoldSmall {
  font-family: $font-family-bold;
  font-size: 12px;
}

@mixin fontBoldNormal {
  font-family: $font-family-bold;
  font-size: 14px;
}

@mixin fontBoldMedium {
  font-family: $font-family-bold;
  font-size: 16px;
}

@mixin fontBoldLarge {
  font-family: $font-family-bold;
  font-size: 18px;
}

@mixin fontBoldHuge {
  font-family: $font-family-bold;
  font-size: 20px;
}

@mixin fontBoldMammoth {
  font-family: $font-family-bold;
  font-size: 24px;
}

/*#endregion Font styles - Bold*/

/*#region Font styles - SemiBold*/

@mixin fontSemiBoldTiny {
  font-family: $font-family-semi-bold;
  font-size: 10px;
}

@mixin fontSemiBoldSmall {
  font-family: $font-family-semi-bold;
  font-size: 12px;
}

@mixin fontSemiBoldNormal {
  font-family: $font-family-semi-bold;
  font-size: 14px;
}

@mixin fontSemiBoldMedium {
  font-family: $font-family-semi-bold;
  font-size: 16px;
}

@mixin fontSemiBoldLarge {
  font-family: $font-family-semi-bold;
  font-size: 18px;
}

@mixin fontSemiBoldHuge {
  font-family: $font-family-semi-bold;
  font-size: 20px;
}

@mixin fontSemiBoldMammoth {
  font-family: $font-family-semi-bold;
  font-size: 24px;
}

/*#endregion Font styles - SemiBold*/

/*#region Font styles - Moderate*/

@mixin fontModerateTiny {
  font-family: $font-family-moderate;
  font-size: 10px;
}

@mixin fontModerateSmall {
  font-family: $font-family-moderate;
  font-size: 12px;
}

@mixin fontModerateNormal {
  font-family: $font-family-moderate;
  font-size: 14px;
}

@mixin fontModerateMedium {
  font-family: $font-family-moderate;
  font-size: 16px;
}

@mixin fontModerateLarge {
  font-family: $font-family-moderate;
  font-size: 18px;
}

@mixin fontModerateHuge {
  font-family: $font-family-moderate;
  font-size: 20px;
}

@mixin fontModerateMammoth {
  font-family: $font-family-moderate;
  font-size: 24px;
}

/*#endregion Font styles - Moderate*/

/*#endregion Font for Desktops*/

/*Others*/

@mixin fontRegularWeight {
  font-family: $font-family-regular;
}

@mixin fontBoldWeight {
  font-family: $font-family-bold;
}
