// src/App.scss

@import "./modules/_variables.scss";
@import "./modules/_mixins.scss";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  margin: 0;
  // user-select: none;
  line-height: normal;
  background-color: $background-color;
  font-family: $primary-font-family;
}

* {
  box-sizing: border-box;
}

:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-montserrat: Montserrat;
}

.btn-primary {
  @include btnStyle;
}

.pointer {
  cursor: pointer;
}
