@import "./modules/variables";
.base-checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: rgba(106, 112, 76, 0.5);

  cursor: pointer;
  min-height: 40px;
  margin-bottom: 10px;
  border-radius: 10px;
  width: 40px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  cursor: pointer;

  &::before {
    content: "\2713";
    position: relative;
    top: 5px;
    left: 4px;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: #4a3163;
    font-weight: bold;
    opacity: 0;
  }

  &:checked::before {
    opacity: 1;
  }
}

section.user-registration,
section.user-login {
    display: block;
    position: absolute;
    top: 10%;
    left: 6%;

    z-index: 1200;
    width: 90%;
    margin: auto;
}


section.user-registration,
section.user-login,
section.thankYou-section {
  font-family: $primary-font-family;
  padding: 3%;

  .container-box {
    background: #f5f1ee;
    filter: drop-shadow(7px 4px 53px rgba(0, 0, 0, 0.1));
    width: 62%;
    margin: auto;
    padding: 7%;
    padding-top: 5%;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;

    .close-btn {
      display: flex;
      justify-content: flex-end;
      
      svg{
        cursor: pointer;
      }
    }

    .content {
      h1 {
        color: $dark-green-color;
        text-align: center;

        font-size: 40px;
        font-style: normal;
        font-weight: 700;

        text-transform: uppercase;
      }
      h5 {
        color: $dark-green-color;
        text-align: center;

        font-size: 19px;
        font-style: normal;
        font-weight: 300;

      }
      p {
        color: $dark-green-color;
        text-align: center;

        font-size: 17px;
        font-style: normal;
        font-weight: 300;
        line-height: 24px;
        width: 63%;
        margin: auto auto 33px auto;
      }
    }

    .form-container {
      font-family: $primary-font-family;
      form {
        display: flex;
        flex-direction: column;
        gap: 20px;

        input[type="text"],
        input[type="email"],
        input[type="password"] {
          border-radius: 10px;
          border: 1px solid $dark-green-color;
          background: #fff;
          color: $dark-green-color;

          font-size: 13px;
          font-style: normal;
          font-weight: 300;
          /* line-height: 41px; */
          padding: 2%;
          outline: none;
        }

        div {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 29px;

          input[type="checkbox"] {
            @extend .base-checkbox;
          }

          span {
            text-align: left;

            p:nth-child(1) {
              color: $dark-green-color;

              font-size: 16px;
              font-style: italic;
              font-weight: 700;
              line-height: 1px;
            }
            p:nth-child(2) {
              color: $dark-green-color;

              font-size: 14px;
              font-style: italic;
              font-weight: 300;
            }
          }
        }

        .btns {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 29px;
          flex-direction: column;
          margin-top: 29px;
          button {
            width: 30%;
            margin: auto;
            background-color: $dark-green-color;
          }

          span {
            color: $dark-green-color;
            text-align: center;

            font-size: 15px;
            font-style: italic;
            font-weight: 400;
            line-height: normal;

            a {
              color: $dark-green-color;

              font-size: 15px;
              font-style: italic;
              font-weight: 700;
              line-height: normal;
              text-decoration-line: underline;
            }
          }
        }

        .forgotpwd {
          display: block;
          text-align: right;

          a {
            color: $dark-green-color;
            font-family: $primary-font-family;
            font-size: 15px;
            font-style: italic;
            font-weight: 700;
            line-height: normal;
            text-decoration-line: underline;
          }
        }
      }
    }

    .feedback {
      h5 {
        color: $dark-green-color;
        text-align: center;

        font-size: 35px;
        font-style: italic;
        font-weight: 250;
        line-height: 51.5px; /* 147.143% */
        text-transform: uppercase;
      }
      p {
        color: $dark-green-color;
        text-align: center;

        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
      }
    }
  }
}


@media only screen and (max-width: 500px) {
  section.user-registration{
 
    .container-box {
   width: 100%;
  
    
      .content {
        h1 {
        
          font-size: 26px;
         
        }
        h5 {
          
          font-size: 16px;
         
        }
      
      }
  
      .form-container {
        form {
      
  
          input[type="text"],
          input[type="email"],
          input[type="password"] {
            
            padding: 4%;
            outline: none;
          }
  
          div {
          
            span {
              text-align: left;
  
              p:nth-child(1) {
               text-decoration: underline;
               color:  $dark-green-color;
              }
             
            }
          }
  
          .btns {
          
            button {
              width: 100%;
              margin: auto;
            }
  
          
          }
  
         
        }
      }
  
      
    }
  }
}
